target/
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
.vscode/

.classpath
.project
.settings/

*.log
*.tmp
*.swp

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
scratch/

# Terraform & Terragrunt
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
**/.terragrunt-cache/
